body {
  background-color: rgb(230, 249, 255);
  margin: 0;
}
.cyan-box {
  background-color: blue;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 200px;
  top: 200px;
}
.red-box {
  background-color: red;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 400px;
  left: 400px;
}

.blue-box {
  background-color: rgb(255, 238, 0);
  height: 200px;
  width: 200px;
  position: absolute;
  left: 0;
  top: 0px;
}
