body {
  background-color: rgb(230, 249, 255);
}

h1 {
  width: 100%;
  font-family: "Kaushan Script", cursive;
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
  top: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 60px;
}
.mountain-img {
  text-align: center;
  position: relative;
  bottom: 10px;
}
.headings {
  text-align: center;
  position: relative;
  top: 80px;
}
.middle-container {
  padding-top: 150px;
  text-align: center;
  position: relative;
  bottom: 100px;
}
.bottom-container {
  padding-top: 60px;
  text-align: center;
}
hr {
  background-color: rgb(230, 249, 255);
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(189, 189, 189);
  border-width: 5px;
  height: 0px;
  width: 10%;
}
h3 {
  font-size: 2rem;
}

.skill-row {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}
.skills {
  position: relative;
  top: 50px;
}
.sing-img {
  width: 30%;
  float: right;
  margin-left: 30px;
}
.skill1-text {
  position: relative;
  bottom: 20px;
}
.skill2-text {
  position: relative;
  bottom: 20px;
}
