body {
  background-color: rgb(139, 245, 255);
}

hr {
  background-color: rgb(139, 245, 255);
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(128, 0, 75);
  border-width: 5px;
  height: 0px;
  width: 10%;
}

h3 {
  color: darkred;
}
